In [14]:
import nltk
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Bovas\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Bovas\AppData\Roaming\nltk_data...

True

In [1]:
#moprt the modules

import pandas as pd
import matplotlib.pyplot as plt
import re
import seaborn as sns

In [30]:
#Read the CSV file

df=pd.read_csv("D:\Bovas\Data Analysis Projects\BA\BA_Reviews.csv")
df.head()

,Unnamed: 0,reviews,country,date
0,0,✅ Trip Verified | I am a British Airways Gold ...,United States,11th February 2024
1,1,Not Verified | Another case of reviewing Brit...,United Kingdom,8th February 2024
2,2,✅ Trip Verified | On the memorable day of Janu...,Nigeria,6th February 2024
3,3,Not Verified | I did not actually get to fly w...,United Kingdom,5th February 2024
4,4,✅ Trip Verified | We had possibly the worse ch...,United Kingdom,2nd February 2024

In [31]:
#Creating column for verified

df['verified']=df.reviews.str.contains("Trip Verified")
df.verified

0        True
1       False
2        True
3       False
4        True
        ...
3495    False
3496    False
3497    False
3498    False
3499    False
Name: verified, Length: 3500, dtype: bool

In [35]:
#for lemmatizing words we will use nltk library
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
lemma = WordNetLemmatizer()

#strip the string ✅ Trip Verified |

reviews_data = df.reviews.str.strip("✅ Trip Verified |")

#create a empty list to store the corpus data

corpus = []

#loop through each word in the corpus for removing the punctuations, lower case, join and add it to corpus

for rev in reviews_data:
    rev=re.sub('[^a-zA-Z]',' ', rev)
    rev=rev.lower()
    rev=rev.split()
    rev=[lemma.lemmatize(word) for word in rev if word not in set(stopwords.words("english"))]
    rev=" ".join(rev)
    corpus.append(rev)

In [36]:
df['corpus']=corpus

In [37]:
df.head(10)

,Unnamed: 0,reviews,country,date,verified,corpus
0,0,✅ Trip Verified | I am a British Airways Gold ...,United States,11th February 2024,True,british airway gold guest list member lifetime...
1,1,Not Verified | Another case of reviewing Brit...,United Kingdom,8th February 2024,False,verified another case reviewing british airway...
2,2,✅ Trip Verified | On the memorable day of Janu...,Nigeria,6th February 2024,True,memorable day january th family embarked journ...
3,3,Not Verified | I did not actually get to fly w...,United Kingdom,5th February 2024,False,verified actually get fly ba cancelled flight ...
4,4,✅ Trip Verified | We had possibly the worse ch...,United Kingdom,2nd February 2024,True,possibly worse check experience ever ever took...
5,5,✅ Trip Verified | I flew to LHR from ATH in C...,Japan,30th January 2024,True,flew lhr ath club europe ba dec transfer jal f...
6,6,✅ Trip Verified | I like the British Airways ...,United Kingdom,29th January 2024,True,like british airway world traveller plus produ...
7,7,✅ Trip Verified | I have come to boarding and...,Ukraine,28th January 2024,True,come boarding cabin luggage taken plane full a...
8,8,✅ Trip Verified | Stinking nappies being chang...,United Kingdom,26th January 2024,True,stinking nappy changed business cabin througho...
9,9,✅ Trip Verified | Worst service ever. Lost bag...,Germany,23rd January 2024,True,worst service ever lost baggage delayed flight...

In [38]:
df.dtypes

Unnamed: 0     int64
reviews       object
country       object
date          object
verified        bool
corpus        object
dtype: object

In [40]:
print(df)

      Unnamed: 0                                            reviews  \
0              0  ✅ Trip Verified | I am a British Airways Gold ...
1              1  Not Verified |  Another case of reviewing Brit...
2              2  ✅ Trip Verified | On the memorable day of Janu...
3              3  Not Verified | I did not actually get to fly w...
4              4  ✅ Trip Verified | We had possibly the worse ch...
...          ...                                                ...
3495        3495  This was the first long-haul flight I'd taken ...
3496        3496  Economy class on 28 Aug from London (LHR) to N...
3497        3497  I'm regularly flying Perth-Hong Kong-London-Po...
3498        3498  Travelled LHR to Montreal 21st August 2014 and...
3499        3499  Booked a British Airways holiday so that's fli...

             country                date  verified  \
0      United States  11th February 2024      True
1     United Kingdom   8th February 2024     False
2            Nigeria   6th February 2024      True
3     United Kingdom   5th February 2024     False
4     United Kingdom   2nd February 2024      True
...              ...                 ...       ...
3495  United Kingdom  6th September 2014     False
3496  United Kingdom  6th September 2014     False
3497       Australia  6th September 2014     False
3498  United Kingdom  6th September 2014     False
3499  United Kingdom  6th September 2014     False

                                                 corpus
0     british airway gold guest list member lifetime...
1     verified another case reviewing british airway...
2     memorable day january th family embarked journ...
3     verified actually get fly ba cancelled flight ...
4     possibly worse check experience ever ever took...
...                                                 ...
3495  first long haul flight taken year high hope lo...
3496  economy class aug london lhr new york jfk boar...
3497  regularly flying perth hong kong london port s...
3498  avelled lhr montreal st august montreal lhr st...
3499  booked british airway holiday flight hotel lon...

[3500 rows x 6 columns]

In [41]:
df.head()

,Unnamed: 0,reviews,country,date,verified,corpus
0,0,✅ Trip Verified | I am a British Airways Gold ...,United States,11th February 2024,True,british airway gold guest list member lifetime...
1,1,Not Verified | Another case of reviewing Brit...,United Kingdom,8th February 2024,False,verified another case reviewing british airway...
2,2,✅ Trip Verified | On the memorable day of Janu...,Nigeria,6th February 2024,True,memorable day january th family embarked journ...
3,3,Not Verified | I did not actually get to fly w...,United Kingdom,5th February 2024,False,verified actually get fly ba cancelled flight ...
4,4,✅ Trip Verified | We had possibly the worse ch...,United Kingdom,2nd February 2024,True,possibly worse check experience ever ever took...

In [42]:
df.shape

(3500, 6)

In [46]:
#convert date object to datetime format

df['date']=pd.to_datetime(df['date'], format='mixed')

In [47]:
df.head()

,Unnamed: 0,reviews,country,date,verified,corpus
0,0,✅ Trip Verified | I am a British Airways Gold ...,United States,2024-02-11,True,british airway gold guest list member lifetime...
1,1,Not Verified | Another case of reviewing Brit...,United Kingdom,2024-02-08,False,verified another case reviewing british airway...
2,2,✅ Trip Verified | On the memorable day of Janu...,Nigeria,2024-02-06,True,memorable day january th family embarked journ...
3,3,Not Verified | I did not actually get to fly w...,United Kingdom,2024-02-05,False,verified actually get fly ba cancelled flight ...
4,4,✅ Trip Verified | We had possibly the worse ch...,United Kingdom,2024-02-02,True,possibly worse check experience ever ever took...

In [48]:
df.dtypes

Unnamed: 0             int64
reviews               object
country               object
date          datetime64[ns]
verified                bool
corpus                object
dtype: object

In [50]:
#check for null values

df.isnull().sum()

Unnamed: 0    0
reviews       0
country       2
date          0
verified      0
corpus        0
dtype: int64

In [51]:
#removing null values

df.dropna(subset=['country'],inplace=True)  #removes rows where country column has missing value

In [52]:
df.isnull().sum()

Unnamed: 0    0
reviews       0
country       0
date          0
verified      0
corpus        0
dtype: int64

In [53]:
df.shape

(3498, 6)

In [54]:
df.reset_index(drop=True)

,Unnamed: 0,reviews,country,date,verified,corpus
0,0,✅ Trip Verified | I am a British Airways Gold ...,United States,2024-02-11,True,british airway gold guest list member lifetime...
1,1,Not Verified | Another case of reviewing Brit...,United Kingdom,2024-02-08,False,verified another case reviewing british airway...
2,2,✅ Trip Verified | On the memorable day of Janu...,Nigeria,2024-02-06,True,memorable day january th family embarked journ...
3,3,Not Verified | I did not actually get to fly w...,United Kingdom,2024-02-05,False,verified actually get fly ba cancelled flight ...
4,4,✅ Trip Verified | We had possibly the worse ch...,United Kingdom,2024-02-02,True,possibly worse check experience ever ever took...
...,...,...,...,...,...,...
3493,3495,This was the first long-haul flight I'd taken ...,United Kingdom,2014-09-06,False,first long haul flight taken year high hope lo...
3494,3496,Economy class on 28 Aug from London (LHR) to N...,United Kingdom,2014-09-06,False,economy class aug london lhr new york jfk boar...
3495,3497,I'm regularly flying Perth-Hong Kong-London-Po...,Australia,2014-09-06,False,regularly flying perth hong kong london port s...
3496,3498,Travelled LHR to Montreal 21st August 2014 and...,United Kingdom,2014-09-06,False,avelled lhr montreal st august montreal lhr st...
3497,3499,Booked a British Airways holiday so that's fli...,United Kingdom,2014-09-06,False,booked british airway holiday flight hotel lon...

In [55]:
df.to_csv("D:\Bovas\Data Analysis Projects\BA\Cleaned data.csv")